body {
    color: #4d4d4d;
}
#layout {
    height: 100vh;
    min-height: 100vh;
}
/*! header */
#header_wrap {
    background-color: #f36f61;
    height: 100px;
    line-height: 100px;
}
#title {
    text-align: center;
}
#title > div {
    color: #fff;
    font-size: 30px;
}
#input_wrap {
    text-align: center;
}
#input {
    width: 65%;
    border: 0;
    padding: 0 25px;
    height: 55px;
    outline: none;
    font-size: 24px;
}
/*! main */
#main {
    min-height: 600px;
    border: 1px solid #e2e2e2;
    padding: 10px 15px;
}
.list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;
}
.list:hover {
    background-color: #e2e2e2;
}
.list:hover > .trash {
    visibility: visible;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1.5px solid #f36f61;
    cursor: pointer;
}
.in_circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circle_bg > .in_circle {
    background-color: #f35645;
}
.circle_bg > .list_title {
    text-decoration: line-through;
}
.list_title {
    display: flex;
    align-items: center;
    text-align: left;
    word-break: break-all;
    width: 85%;
    min-height: 30px;
    font-size: 24px;
}
.editing > .list_title_inner {
    outline: 1px solid black;
}
.list_title_inner {
    all: unset;
    width: 100%;
    user-select: none;
    padding: 3px 10px;
}
.trash {
    position: absolute;
    right: 0;
    visibility: hidden;
    z-index: 1000;
    margin-right: 10px;
    cursor: pointer;
}
.trash:hover {
    transform: scale(1.15);
}
.trash_img {
    width: 20px;
    height: 20px;
}