#layout {
    height: 100vh;
    min-height: 100vh;
}
/*! header */
#header_wrap {
    background-color: #f36f61;
    height: 80px;
    line-height: 80px;
}
#title {
    text-align: center;
}
#title > div {
    color: #fff;
    font-size: 30px;
}
#input_wrap {
    text-align: center;
}
#input {
    width: 55%;
    border: 0;
    padding: 0 15px;
    height: 35px;
    outline: none;
}
#add {
    width: 15%;
    height: 35px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: #ffb7af;
    color: #fff;
}
/*! main */
#main {
    min-height: 600px;
    border: 1px solid #e2e2e2;
    padding: 10px 15px;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;
}
.list:hover {
    background-color: #e2e2e2;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1.5px solid #f36f61;
    cursor: pointer;
}
.in_circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circle_bg > .circle > .in_circle {
    background-color: #f35645;
}
.circle_bg > .list_title {
    text-decoration: line-through;
}
.list_title {
    display: flex;
    align-items: center;
    text-align: justify;
    word-break: break-all;
    width: 90%;
    min-height: 30px;
}
.trash {
    z-index: 1000;
    margin-right: 10px;
    cursor: pointer;
}
.trash:hover {
    transform: scale(1.15);
}
.trash_img {
    width: 20px;
    height: 20px;
}









































